In [3]:
def total_cost_of_groceries(num_apples, num_oranges):

SyntaxError: incomplete input (666527018.py, line 1)

In [17]:
def total_cost_of_groceries(num_apples, num_oranges):
    


    #Calculate the cost of apples
    price_per_apple = 3
    cost_of_apples = num_apples * price_per_apple

    #Calculate the cost of oranges
    price_per_orange = 2
    cost_of_oranges = num_oranges * price_per_orange

    total_cost = cost_of_apples + cost_of_oranges
    

    
    return total_cost

In [18]:
Rich = total_cost_of_groceries(4,2)
print(Rich)

16

In [21]:
def orchard(price_of_strawberries, price_of_cherries, weight_of_strawberries, weight_of_cherries):


    #calculate cost of strawberries
    price_of_strawberries = price_of_strawberries * weight_of_strawberries

    #calculate cost of cherries
    price_of_cherries = price_of_cherries * weight_of_cherries


    total_cost = price_of_strawberries + price_of_cherries

    return total_cost

In [26]:
#Telhue  $7 strawberries, $10 cherries
#Gabby 4,3
#Omar: 5,3
#Naeem:7,4



Gabby = orchard(7, 10, 4, 3)
Omar = orchard(7, 10, 5, 3)
Naeem = orchard(7, 10, 7, 4)

total_cost  = Gabby + Omar + Naeem
print(total_cost)

212

In [28]:
#Telhue  $7 strawberries, $10 cherries
#Naeem 7,4
#Rich: 6,8

Naeem = orchard(7, 10, 7, 4)
Rich = orchard(7, 10, 6, 8)

# Cherry Grove  $5 strawberries, $11 cherries
#Belle 5s, 7c
#W 2s, 2c

Belle = orchard(5, 11, 5, 7)
W = orchard(5, 11, 2, 2)

# Fruitwood $3 Strawberries, $9 cherries
#Gabby 10s, 12c
#Ananya 5s, 0c
#Amel 0s, 10c

Gabby = orchard(3, 9, 10, 12)
Ananya = orchard(3, 9, 5, 0)
Amel = orchard(3, 9, 0, 10)

total_cost = Naeem + Rich + Belle + W + Gabby + Ananya + A
print(total_cost)

588

In [6]:
def lunch(price_of_falafel, price_of_lentil, price_of_pita, amount_of_falafel, amount_of_lentil, amount_of_pita):

    
    # cost of falafel
    cost_of_falafel = price_of_falafel * amount_of_falafel

    #cost of lentil
    cost_of_lentil = price_of_lentil * amount_of_lentil

    #cost of pita
    cost_of_pita = price_of_pita * amount_of_pita

    # special deal : cost of falafel is half off if two bought
    cost_of_falafel_deal = price_of_falafel*0.5*amount_of_falafel
    total_cost = cost_of_falafel + cost_of_lentil + cost_of_pita
    return total_cost

Darius = lunch(3, 2, 1, 2, 2, 1)
Belle = lunch(3, 2, 1, 1, 1, 4)
Amel = lunch(3, 2, 1, 3, 2, 3)

total_cost = Darius + Belle + Amel
print(f"${total_cost:.2f}")

$36.00

In [24]:
# F = C x 9/5 + 32
# Cels_to_Fahr
#Return : fahrenheit
# Variables: Celcius

def Cels_to_Fahr(celsius):
    
    
    fahrenheit = (celsius * 9/5) + 32
    print(fahrenheit)



def Fahr_to_Cels(fahrenheit):

    celsius = (fahrenheit - 32) * 5/9
    print(celsius)

In [ ]:
# Budget $500 per day  MTWTF (Days)
# make array import numpy as mp
# loop and conditional
# cost_array = np.array([300, 700, 100, 800, 200])
# Create a loop inot each item of array and perform operation
#  $100 coupon for monday (for loop)
# cost_array[0] = cost_array[0] - 100
# cost_array[1] = cost_array[1] - 200

In [ ]:
import numpy as np


budget_per_day = 500


cost_array = np.array([300, 700, 100, 800, 200]) # Monday, Tuesday, Wednesday, Thursday, Friday

print('Initial Daily Costs:', cost_array)

# Define the days of the week for printing
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Apply coupons 
# $100 coupon for Monday (index 0)
cost_array[0] = cost_array[0] - 100
# $200 coupon for Tuesday (index 1)
cost_array[1] = cost_array[1] - 200

print('Costs After Applying Coupons:', cost_array)

#for loop

for i in cost_array;
print(cost_array)
i= i-50
print(cost_array)